body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 0.9em;
  background-color: #EAF2F5;
}

#container {
  margin: 0px auto;
  max-width: 45em;
  min-width: 35em;
  background: #EAF2F5;
}

#header h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 3em;
  color: #0b306e;
}

div#navigation {
  background-color: #EAF2F5;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #ccc;
  min-height: 2em;
}

div#navigation ul {
  margin: 0;
  padding: 0;
}

div#navigation li {
  text-align: left;
  float: left;
  list-style: none;
  padding: 3px 10px;
  margin: 5px;
  border: 1px solid #ccc;
}

div#content {
  margin: 0px;
  padding: 1em 2em;
  background: #fff;
}

div#footer {
  font-size: 0.75em;
  text-align: center;
}

.hidden {
  display: none;
}

.optionlist {
    margin: 0.5em 0;
    padding-left: 0.5em;
}

.optionlist li {
  list-style: none;
}

.optiontitle {
  font-size: 0.90em;
  font-weight: bold;
}

.querybox label {
  font-size: 0.90em;
  font-weight: bold;
}

.querybox textarea {
  margin-top: 0.5em;
}

.submitbox {
  padding: 1em;
}

.optionsbox {
}

.helpbox {
  font-size: 0.85em;
  margin: 0.5em;
  border: 1px dotted #ccc;
  padding: 0.5em;
}

a.clearlink {
  font-weight: normal;
  text-decoration: none;
}

h3.nestedlink a {
  text-decoration: none;
  color: black;
}

.navlink a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #0B6E97;
}

.navlink a:link {
  font-weight: bold;
  text-decoration: none;
  color: #0B6E97;
}

.reference {
  margin-left: 2em;
  text-indent: -2em;
}

textarea#id_query {
  width: 550px;
}
