body {
    background:#fff;
    color:#000;
    font-family:Arial,Helvetica,sans-serif;
    font-size:100%;
    text-align:center;
}

pre {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    margin-bottom:10px;
    overflow:auto;
    width:620px;
    padding:5px;
    background-color:#F5F5F5;
    padding-bottom:20px!ie7;
    max-height:600px;
}

blockquote {
    margin-bottom:10px;
    margin-right:15px;
    padding:10px 0 1px 10px;
    background-color:#F5F5F5;
}

b,strong {
    font-weight:bold;
}

i,em {
    font-style:italic;
}

ul {
    list-style:disc;
    margin-left:30px;
    margin-bottom:1em;
}

p {
    clear:both;
    margin-bottom:1em;
}

ol {
    list-style:decimal;
    margin-left:30px;
    margin-bottom:1em;
}

a {
    color:#07c;
    text-decoration:none;
    cursor:pointer;
}

a:hover {
    text-decoration:underline;
}

a:visited {
    color:#4A6B82;
}

h1 {
    font-family:Trebuchet MS,Helvetica,sans-serif;
    font-weight:bold;
    font-size:170%;
    margin-bottom:7px;
}

h2 {
    font-family:Trebuchet MS,Helvetica,sans-serif;
    font-size:140%;
    font-weight:bold;
    margin-bottom:7px;
}

h3 { 
    font-family:Trebuchet MS,Helvetica,sans-serif;
    font-size:110%;
    font-weight:bold;
    margin-bottom:5px;
}

hr {
    border:0;
    color:#aaa;
    background-color:#aaa;
    height:1px;
    margin-bottom:20px;
}

.hidden {
    display:none;
}

.helpbox {
  font-size: 0.85em;
  margin: 0.5em;
  border: 1px dotted #ccc;
  padding: 0.5em;
}
